/* Login */

body {
     background-image: url("../images/1.jpg);
     background-repeat: no-repeat;
     background-postion: center;
     margin: 0px auto;
}

.container {
    text-align: center;
}

.center_div {
    margin-left: auto;
    margin-right: auto;
}

.bg {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
    height: auto;
}

label[for] {
    background: yellow;
}

body legend {
    background: skyblue;
}
